<div id="arrow">
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
  crossorigin="anonymous"></script>

  <script>
    /*Arrow-Process-Bar*/ 
    jQuery(document).ready(function() {
      var back = jQuery(".prev");
      var next = jQuery(".next");
      var steps = jQuery(".step");
      var blocks = jQuery(".block");      
      // console.log(steps.length); 5
      // console.log(blocks.length); 5
      //init
      var max = 0;
      var count;
      back.hide();
      jQuery(blocks[0]).show();
      next.bind("click", function() {
          jQuery.each(steps, function(i) {
              count = 0;
              if (!jQuery(steps[i]).hasClass('current') &&
                  !jQuery(steps[i]).hasClass('done')) {
                  jQuery(steps[i]).addClass('current');
                  jQuery(steps[i - 1]).removeClass('current').addClass('done');   
                  count++;
                  max=count>max?count:max;
                  return false;
              }
          });
          //remove next btn
          if(jQuery(steps[count]).hasClass('first')){
              next.hide();
              back.show();
          }else{
              next.show();
          }
          if(count>0){
             back.show();
          }
          
          //blocks logic:
           jQuery.each(blocks, function(i) {
              count = 0;
              if (!jQuery(blocks[i]).hasClass('current') &&
                  !jQuery(blocks[i]).hasClass('done')) {
                  jQuery(blocks[i]).addClass('current');
                  jQuery(blocks[i - 1]).removeClass('current').addClass('done');   
                  return false;
              }
          });
      });
      back.bind("click", function() {
          jQuery.each(steps, function(i) {
              if (jQuery(steps[i]).hasClass('done') &&
                  jQuery(steps[i + 1]).hasClass('current')) {
                  jQuery(steps[i + 1]).removeClass('current');
                  jQuery(steps[i]).removeClass('done').addClass('current');
                  return false;
              }
          });
          //remove prev btn
          if(jQuery(steps[count]).hasClass('first')&&jQuery(steps[count]).hasClass('current')){
              back.hide();
              next.show();
          }else{
              back.show();
          }
          if(count<max){
              next.show();
          }
          
          //blocks logic:
          jQuery.each(blocks, function(i) {
              if (jQuery(blocks[i]).hasClass('done') &&
                  jQuery(blocks[i + 1]).hasClass('current')) {
                  jQuery(blocks[i + 1]).removeClass('current');
                  jQuery(blocks[i]).removeClass('done').addClass('current');
                  return false;
              }
          });
      });
      
      
      //Enable click step response directly
      jQuery.each(steps, function(i) {
        jQuery(steps[i]).bind("click", function() {
           jQuery.each(steps, function(j) {
             if(j<i){ //previous
               jQuery(steps[j]).removeClass('current').addClass('done');
               jQuery(blocks[j]).removeClass('current').addClass('done');
             }else if(j==i){ //current show
               jQuery(steps[j]).removeClass('done').addClass('current');
               jQuery(blocks[j]).removeClass('done').addClass('current');
             }else{ //(j>i) //next
               jQuery(steps[j]).removeClass('done').removeClass('current');
               jQuery(blocks[j]).removeClass('done').removeClass('current');
             }
           });
        });
      });
  })
  </script>

  <div class="container">
    <div class="wrapper">
      <div class="arrow-steps clearfix">
        <div class="step first current"> <span>Step 0 Overview</span> </div>
        <div class="step"> <span>Step 1 Install</span> </div>
        <div class="step"> <span>Step 2 Local</span> </div>
        <div class="step"> <span> Step 3 Deploy</span> </div>
        <div class="step"> <span>Step 4 Test</span> </div>
        <div class="step last"> <span><i class="fa fa-rocket" aria-hidden="true"></i></span></div>
      </div>
      <div class="nav clearfix">
        <a href="#" class="prev" onclick="window.scrollTo(0, 0);"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;Previous</a>
        <a href="#" class="next pull-right" onclick="window.scrollTo(0, 0);">Next&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

</div>