<footer>
  <p>
    <a href="https://github.com/virtuallab">GitHub</a>&nbsp;&nbsp;
    <!-- <a href="#">Twitter</a>&nbsp;&nbsp; -->
    <a href="https://turkserver.meteorapp.com">API</a>&nbsp;&nbsp;
    <a href="/examples.html">Examples</a>&nbsp;&nbsp;
    <a href="#">About</a>
  </p>
  <p>
    This content by
    <a href="https://github.com/mizzao">@mizzao</a>,
    <a href="https://github.com/kgao">@kgao</a>, and
    <!-- consider adding Lili and Eshin here -->
    <a href="https://github.com/VirtualLab/virtuallab.github.io/graphs/contributors">others</a>.
    Virtual lab software licensed <a
          rel=license href="https://github.com/VirtualLab/turkserver-meteor/blob/master/LICENSE">MIT</a>
    (see <a
          href="https://github.com/VirtualLab/turkserver-meteor/graphs/contributors">contributors</a>.)
  </p>
  <p>
    See something confusing? Post an
    <a href="https://github.com/VirtualLab/virtuallab.github.io/issues">issue</a>
    or send us a
    <a href="https://github.com/VirtualLab/virtuallab.github.io">pull request</a>
    with suggested improvements!
  </p>
  <p>
    &copy; 2016 The Virtual Lab
  </p>
  </div>
</footer>
