<footer>
  <p>
    <a href="https://github.com/virtuallab" target="_blank">GitHub</a>&nbsp;&nbsp;
    <!-- <a href="#">Twitter</a>&nbsp;&nbsp; -->
    <a href="https://turkserver.meteorapp.com" target="_blank">API</a>&nbsp;&nbsp;
    <a href="/examples.html">Examples</a>&nbsp;&nbsp;
    <a href="#">About</a>
  </p>
  <p>
    This content by
    <a href="https://github.com/mizzao" target="_blank">@mizzao</a>,
    <a href="https://github.com/kgao" target="_blank">@kgao</a>, and
    <!-- consider adding Lili and Eshin here -->
    <a href="https://github.com/VirtualLab/virtuallab.github.io/graphs/contributors" target="_blank">other contributors</a>.
  </p>
  <p>
    Virtual lab software licensed <a
          rel=license href="https://github.com/VirtualLab/turkserver-meteor/blob/master/LICENSE" target="_blank">MIT</a>
    with contributions from <a
            href="https://github.com/VirtualLab/turkserver-meteor/graphs/contributors" target="_blank">many users</a>.
  </p>
  <p>
    &copy; 2016 The Virtual Lab
  </p>
  </div>
</footer>
